*{
    margin: 0;
    padding: 0;
}

.container{
    width:1300px;
    height: 900px;
    background-color: darkgrey;
    padding: 15px;
}

.topnav{
    width: 1300px;
    height: 200px;
    background-color: darkgreen;
}

.sidenav{
    width:200px;
    height:400px;
    background-color: blue;
    margin-top:15px;
}

.mainnav{
    width: 1080px;
    height: 550px;
    background-color: red;
    margin:15px;
    margin-right: 0px;
}

.sidenav, .mainnav{
    display: inline-block;
    vertical-align: top;
}

.submainnav{
    width: 300px;
    height: 300px;
    background-color: yellow;
    margin:14px;
    margin-right: 0px;
}

#adv{
    width: 930px;
    height: 150px;
    background-color: blueviolet;
    margin: 15px;
    margin-top: 0px;
}

.submainnav, #adv{
    display: inline-block;
}