*{
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
}

.header{
    width:900px;
    height: 100px;
    background-color: rgb(55, 95, 55);
}

.header img{
    width: 100px;
    height: 100px;
    padding: 15px;
    padding-top: 45px;
    position: relative;
}

.main{
    width:898px;
    height: 300px;
    border: 1px solid gray;
}

h1{
    padding:15px;
    padding-top: 50px;
    padding-bottom: 0px;
}

.part1{
    display: flex;
    padding: 15px;
    padding-top: 10px;
}

.title{
    width: 500px;
    padding:15px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.part2{
    display: flex;
    justify-content: flex-start;
    vertical-align: top;
    padding: 15px;
    padding-top: 10px;
}

.icon{
    width:15px;
    height:15px;
}

.word{
    padding-left: 10px;
}