*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Top */
.ads{
    background-color: rgb(227, 123, 139);
    color: white;
    font-weight: bolder;
    padding: 2% 25%;
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: larger;
    border: solid black 4px;
}
.searchnav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10%;
    gap: 5%;
}
.brandname{
    font-size: 50px;
}
.searchbar{
    border: solid black 4px;
    padding: 10px 40% 10px 5px;
    font-size: 15px
}
#cartnumber{
    font-size: 25px;
    vertical-align:text-bottom;
}
.cart{
    width: 50%;
}
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(160, 159, 159);
    padding: 20px 31%;
    font-size: larger;
    margin: 0px 10px;
}
#products{
    font-weight: bolder;
}

/* Body */
.storename{
    background-color: rgb(227, 123, 139);
    color: white;
    font-weight: bolder;
    padding: 30px 20%;
    margin: 10px 10%;
    text-align: center;
    font-size: 50px;
}
.bodycenter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10%;
    font-size: larger;
    gap: 30px;
}
.sortinfo{
    padding: 0px 45% 20px 0px;
}
#bestselling{
    border: solid black;
    font-size: 20px;
}
.productsection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
}
.product img{
    margin-bottom: 20px;
    width: 80%;
}
.productname{
    text-align: center;
    width: 80%;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}
button{
    background-color: rgb(227, 123, 139);
    color: white;
    padding: 5px 20px;
    margin: 0px 25%;
    font-size: 20px;
    border-radius: 15%;
}