*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;

/* Top */
.nav{
    background-color: black;
    width: 800px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.leftcolumn{
    flex:1;
}
.nav-center1{
    flex:4;
    display: flex;
}
.nav-title{
    color: white;
    font-weight: lighter;
    width: 100px;
    
}
.nav-links{
    color: rgb(63, 62, 62);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    font-size: smaller;
}
.nav-links a{
    color: rgb(212, 211, 211);
    text-decoration: none;
}
a.active{
    color: white;
}
.nav-center2{
    flex:2;
    display: flex;
    justify-content: flex-end;
}
button{
    width: 80px;
    height: 25px;
    font-size: 15px;
    color: white;
    background-color: rgb(9, 195, 195);
    border: 2px solid black;
    box-shadow: 3px 3px 1px black; 
}
.rightcolumn{
    flex:1;
}

/* Buttom */
    /* buttom left top */
.body{
    background-color:white;
    width: 800px;
    height: 800px;
    display: flex;
}
.bodycenter1{
    flex:4;
    padding-top: 20px;
}
.header{
    height: 80px;
    background-color: rgb(17, 191, 191);
}
.header img{
    width: 80px;
    height: 80px;
    padding: 15px;
    position: relative;
    top:20px;
    padding-left: 30px;
}
.main{
    border: 1px solid gray;
    height: 190px;

}
.name1{
    padding:15px;
    padding-top: 30px;
    padding-bottom: 0px;
    font-size: 30px;
    padding-left: 30px;
}
.part1{
    display: flex;
    align-items: center;
    padding: 15px;
    padding-top: 10px;
    padding-left: 30px;
}
.icon{
    width:15px;
    height:20px;
}
.word{
    padding-left: 10px;
}
.title{
    width: 300px;
    padding:15px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 30px;
}
.part2{
    display: flex;
    justify-content: flex-start;
    vertical-align: top;
    padding: 15px;
    padding-top: 10px;
    padding-left: 30px;
}
    /* buttom left bottom */
.bodycenter1bottom{
    padding-top: 20px;
}
.header1{
    height: 50px;
    background-color: rgb(67, 62, 62);
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.main1{
    border: 1px solid gray;
    height: 100px;
}
.content{
    width: 320px;
    padding:5px;
    /* padding-bottom: 0px;
    padding-top: 0px; */
    padding-left: 30px;
}
#company{
    font-weight: bold;
}
#year{
    color: gray;
}

    /* bottom right top */
.bodycenter2{
    flex:2;
    padding-top: 20px;
    padding-left: 20px;
}
.header2{
    height: 50px;
    background-color: rgb(67, 62, 62);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.subtitle{
    color: white;
}
.main2top{
    height: 100px;
    border: 1px solid gray;
}
.line{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}
.icon2{
    width: 25px;
    height: 25px;
}
.name{
    padding: 0px;
    color:black;
    font-size: smaller;
    width: 55px;
}
    /* bottom right bottom */
.bodycenter2bottom{
    padding-top: 20px;
}
.main2bottom{
    height: 190px;
    border: 1px solid gray;
}
.tail{
    display: flex;
    align-items: center;
    height: 30px;
    border: 1px solid gray;
}
.tail a{
    color: blue;
    padding:10px
}

}